<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b>Dropzone Sample</b></a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="col-lg-4">
      <%= form_for @listing, remote: true do |f| %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
      </div>
      <div class="form-group">
        <div id="media-dropzone" class="dropzone">
        </div>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>